*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 12vh;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    z-index: 2000;
}

header h1{
    font-size: 1.2rem;
    align-self: center;
    padding-left: 10px;
}

header div{
    grid-column: 2/4;
    display: flex;
}

header nav{
    grid-column: 5/11;
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
}

header a{
    text-decoration: none;
    color: black;
    padding: 0px 20px;
    transition: color 0.2s;
}

header nav a:hover{
    color: #5840ba;
    text-decoration: underline;
}

header .contact-btn{
    grid-column: 12/14;
    justify-self: center;
    padding: 13px 15px;;
    text-align: center;
    width: 100px;
    color: white;
    background-color: #5840ba;
    border: 1px solid #5840ba;
    border-radius: 25px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

header .contact-btn:hover{
    color: #5840ba;
    background-color: white;
}

.hero{
    display: grid;
    grid-template-rows: repeat(10,1fr);
    justify-content: unsafe;
    padding-top: 30vh;
    height: 88vh;
    width: 100%;
    text-align: center;
}

.hero article{
    grid-row: 1;
    align-self: center;
}

.hero p{
    font-size: 1.3rem;
}

.hero article i{
    color: #5840ba;
}

.hero h1{
    grid-row: 2;
    font-size: 4.2rem;
    justify-self: end;
}

.hero .imagen{
    grid-row: 2/10;
    

    background: url(../img/pruebaHero.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    justify-content: center;
    align-items: center;
}

.hero .botones-hero{
    grid-row: 6/8;
    display: flex;
    justify-content: space-between;
    background-color: white;  
    border-radius: 30px;
}

.hero a{
    align-content: center;
    text-decoration: none;
    border: solid black 1.5px;
    color: black;
    width: 8rem;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 5px;
    font-size: 1.2rem;
    transition: color 0.2s, background-color 0.2s;
}

.hero .aqui-btn:hover{
    color: white;
    background-color: black;
}

.hero .portfolio-btn{
    width: 8rem;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 5px;
    font-size: 1.2rem;
    align-content: center;
    color: white;
    background-color: #5840ba;
}

.fa-arrow-right{
    background-color: #a4db74;
    color: black;
    border-radius: 50%;
    padding: 5px;
    margin-left: 15px;
}

.hero .clientes{
    position: absolute;
    width: 100px;
}

.hero .pie-hero{
    grid-row: 10;
    display: flex;
    background-color: #a4db74;
    width: 100%;
    height: 100%;
}

.services{
    height: 100vh;
    width: 86%;
    background-color: #5840ba;
    display: grid;
    grid-template-rows: repeat(10,1fr);
    padding: 7%;
}

.services .titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}

.services p{
    color: white;
    font-size: 1.2rem;
}

.services p i{
    margin-right: 10px;
    color: #a4db74;
    font-size: 1rem;
}

.services h1{
    color: white;
    font-size: 2.5rem;
}

.services article{
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services section{
    grid-row: 3/10;
    display: flex;
    justify-content: space-between;
}

.services section p{
    color: white;
    margin: 15px 35px;
    transition: color 0.2s;
}

.services section h3{
    color: white;
    font-size: 2rem;
    margin-top: 15px;
    transition: color 0.2s;
}

.services a{
    text-decoration: none;
    color: #A89CDB;
    margin: 10px 0;
}

.services article .boton{
    display: flex;
    justify-content: space-between;
    background-color: white;  
    border-radius: 30px;
}

.services article .fa-arrow-right{
    background-color: #5840ba;
    color: white;
    padding: 10px;
    margin: 5px;
    align-self: center;
    font-size: 1.5rem;
}

.services article .boton a{
    align-content: center;
    text-decoration: none;
    text-align: center;
    color: #5840ba;
    background-color: #a4db74;
    width: 8rem;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 0;
    margin-left: 10px;
    font-size: 1.2rem;
    transition: color 0.2s;
}

.services article .boton a:hover{
    color: white;
}

.services section div{
    background-color: #705BC4;
    width: 30%;
    text-align: center;
    border-radius: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transition: background-color 0.2s;
}

.services section div:hover{
    background-color: white;
}

.services section div:hover > .icon{
    color: #5840ba;
    background-color: #EFEDF9;
}

.services section div:hover > h3,
.services section div:hover > p{
    color: black;
}

.services section div .icon{
    align-self: center;
    color: white;
    padding: 30px;
    margin: 10px;
    border-radius: 50%;
    background-color: #7E6BCA;
    font-size: 4rem;
    transition: color 0.2s, background-color 0.2s;
}

.services section .fa-arrow-right{
    background: none;
    color: #A89CDB;
}

.aboutme{
    height: 70vh;
    width: 80%;
    padding: 10%;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutme .experiencia{
    background-color: #5840ba;
    border-radius: 15px;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.aboutme .experiencia h1{
    color: white;
    writing-mode: vertical-rl;
    font-size: 3.5rem;
    text-align: center;
    transform: rotate(180deg);
    line-height: 75%;
}

.aboutme .experiencia div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutme .experiencia h2{
    color: white;
    font-size: 20rem;
    text-align: center;
    line-height: 100%;
}

.aboutme .experiencia p{
    color: white;
    text-align: center;
}

.aboutme .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10%;
}

.aboutme .texto p{
    font-size: 1.2rem;
}

.aboutme .texto h1{
    font-size: 2.5rem;
}

.aboutme .texto .columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.aboutme .texto .columnas h3{
    font-size: 2rem;
}

.aboutme .texto .columnas .boton{
    justify-self: start;
    display: flex;
    justify-content: space-between;
    background-color: black;  
    border-radius: 30px;
}
.aboutme .texto .boton a{
    align-content: center;
    text-decoration: none;
    text-align: center;
    color: #5840ba;
    background-color: #a4db74;
    width: 8rem;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 0;
    font-size: 1.2rem;
    transition: color 0.2s;
}

.aboutme .texto .boton a:hover{
    color: white;
}

.aboutme .texto .fa-arrow-right{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 6px;
    margin-right: 15px;
    align-self: center;
    font-size: 1.2rem;
}

.proyects{
    width: 86%;
    background-color: #5840ba;
    display: grid;
    grid-template-rows: repeat(10,1fr);
    padding: 0 7%;
}

.proyects .titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}

.proyects p{
    color: white;
    font-size: 1.2rem;
}

.proyects p i{
    margin-right: 10px;
    color: #a4db74;
    font-size: 1rem;
}

.proyects h1{
    color: white;
    font-size: 2.5rem;
}

.proyects article{
    align-self: flex-end;
    grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proyects .boton{
    display: flex;
    justify-content: space-between;
    background-color: white;  
    border-radius: 30px;
}

.proyects .fa-arrow-right{
    background-color: #5840ba;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    align-self: center;
    font-size: 1.5rem;
}

.proyects .boton a{
    align-content: center;
    text-decoration: none;
    text-align: center;
    color: #5840ba;
    background-color: #a4db74;
    width: 8rem;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 0;
    margin-left: 10px;
    font-size: 1.2rem;
    transition: color 0.2s;
}

.proyects a:hover{
    color: white;
}

.proyects section{
    grid-row: 3/10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proyects section article img{
    width: 50%;
    border-radius: 20px;
}

.proyects section article{
    background-color: #705BC4;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: background-color 0.2s;
    padding: 15px;
    margin: 15px 0;
}

.proyects section article div{
    padding-left: 30px;
    display: flex;
    row-gap: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
}

.proyects section article div a{
    text-decoration: none;
    background-color: #a4db74;
    border-radius: 30px;
    text-align: center;
    padding: 7px 0;
    width: 25%;
    transition: color 0.2s;
}

.proyects section article div h3{
    color: white;
    font-size: 2rem;

}

.proyects section article div p{
    margin-right: 70px;
}

.proyects section article div .boton{
    grid-row: 4;
}

.proyects section article .boton{
    padding: 0;
}

.contact{
    background-color: #5840ba;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 7%;
    width: 86%;
}

.barra{
    display: flex;
    justify-content: center;
    background-color: #a4db74;
    padding: 15px 0;
    width: 100%;
    font-size: 1.5rem;
}

.contact .datos{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact .datos h2{
    font-size: 1.2rem;
}

.contact .datos h1{
    font-size: 2.5rem;
    align-items: start;
}

.contact .datos p{
    margin-right: 30%;
}

.contact .fa-minus{
    color: #a4db74;
    font-size: 1rem;
    margin-right: 10px;
}

.contact .datos div{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    justify-content: start;
    gap: 20px;
}

.contact .datos div i{
    grid-column: 1/2;
    font-size: 1.2rem;
    color: #5840ba;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.contact .datos div p{
    align-self: center;
    grid-column: 2/10;
    width: 100%;
}

.contact form{
    width: 50%;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: 1fr, 1fr;
    gap: 15px;
}

.contact form input{
    border: none;
    border-radius: 15px;
    background-color: #705BC4;
    justify-content: center; 
    color: white;
    font-size: 1.2rem;
    padding: 0 10%;
}

.contact form input::placeholder{
    color: #B0A4DF;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
    outline: none; 
    box-shadow: 0 0 5px white; /* Agregar una sombra */
  }

.contact form article{
    grid-row: 1/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.contact form .asunto{
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 5%;
}

.contact form .mensaje{
    grid-row: 4/7;
    grid-column: 1/3;
    padding: 5%
}

.contact form .boton{
    grid-row: 7;
    align-self: center;
    justify-self: start;
    display: flex;
    justify-content: space-between;
    background-color: white;  
    border-radius: 30px;
}

 .contact form .boton a{ 
    align-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #a4db74;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 0;
    margin-left: 10px;
    font-size: 1rem;
    transition: color 0.2s;
}

.contact form .boton a:hover{
    color: white;
}

.contact form .fa-arrow-right{
    background-color: #5840ba;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    align-self: center;
    font-size: 1rem;
}