.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10%;
    background-color: #5840ba;
    color: white;
}

.services span{
    color: #a4db74;
}

.services i{
    color: #a4db74;
    margin-right: 10px;
}

.services .fa-arrow-right{
    background-color: #5840ba;
    color: white;
}

.services .btnFlecha{
    width: 15rem;
    background-color: white;
}

.services .btn{
    width: 70%;
    color: #5840ba;
}

.services .btn:hover{
    color: white;
}

.cards{
    background-color: #705BC4;
    border-radius: 20rem;
    width: 19rem;

}

.cards i{
    background-color: #7E6BCA;
    border-radius: 50%;
    color: white;
    padding: 10%;
    font-size: 250%;
    margin: 15%;
    margin-bottom: 40px;
    align-self: center;
}

.cards p{
    color: #A89CDB;
    margin: 0 20px 10px 20px;
    font-size: 0.9rem;
}

.cards .btn{
    background: none;
    border: none;
    color: #A89CDB;
    margin-bottom: 30px;
}

.cards .fa-arrow-right{
    background: none;
    font-size: 1rem;
    padding: 0;
    margin: 0 0 0 10px;
}