.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.btnHeader{
    padding-right:  15px;
    padding-left:  15px;
    border-radius: 25px;
    color: white;
    background-color: #5840ba;
    border: 1px solid #5840ba;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    border: none;
}

.btnHeader:hover{
    color: #5840ba;
    background-color: white;
    border: #5840ba 1px solid;
}

.nav-link:hover{
    text-decoration: underline;
    color: #5840ba;
}